body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("Img/OIP.jpg");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    color: white;
    scrollbar-width: none
}

.heading{
    font-size: 3rem;
    font-weight: bold;
    color: purple;
    display: flex;
    justify-content: center;
    align-iteam: center;
}

#home{
    height: 100vh;
    width: 100%;
    scroll-snap-align: center;
    display: flex;
    justify-content: space-between;
    align-iteam: center;
}

.content{
    display: flex;
    justify-content: space-between;
    align-iteam: center
}

.lefttext{
    font-size: 25px;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 4px solid purple;
    border-radius: 10px;
    text-align: left;
    margin-left: 20px;
    &:hover {
        background-color: #282828; 
    }
}

.skill{
    font-size: 18px;
    font-family: Arial, sans-serif;
    border: 4px solid purple;
    border-radius: 10px;
    text-align: left;
    padding: 10px;
    padding-right: 100px; 
    width: 100%;
    margin-right: 50%;
    background-color: black; 

    &:hover {
        background-color: #282828;
    }
}

.text{
    font-size: 25px;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
}

.righttext{
    font-size: 25px;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    border: 4px solid purple;
    border-radius: 10px;
    text-align: left;
    margin-left: 20px;
    padding: 20px;
    &:hover {
        background-color: #282828; 
    }
}

.leftside{
    flex: 3;
    display: flex;
    width: 80%;
    margin-left: 40px;
    position: relative;
}

.rightside{
    flex: 3;
    display: flex;
    width: 80%;
    position: relative;
    margin-left: 40px;
}

.Left{
    flex: 3;
    display: flex;
    width: 80%;
    margin-left: 40px;
    position: relative;
}

.left{
    flex: 3;
}

.styleRight{
    font-family: Arial, sans-serif;
    border: 4px solid purple;
    border-radius: 10px;
    text-align: left;
    padding: 10px;
    margin-left: 20px;
    padding-right: 150px;
    width: 100%; 
}

.styleLeft{
    font-family: Arial, sans-serif;
    border: 4px solid purple;
    border-radius: 10px;
    text-align: left;
    padding: 10px;
    padding-right: 200px;
    margin-left: 20px;
    width: 100%;
}

html {
    scroll-behavior: smooth;
    height: 100vh;
}


.Right{
    flex: 3;
    display: flex;
    width: 80%;
    position: relative;
    margin-left: 40px;
}

.right{
    flex: 4;
    position: relative;
}

.image{
    height: 50px; 
    width: 50px; 
    border-radius: 50%;
    border: 2px solid purple;
    justify-content: center;
    align-iteam: center;
    gap: 50px; 
    margin-top: 30px; 
    &:hover {
        background-color: black; 
    }
   
}

.aboutme{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-iteam: center;
}

.profile{
    margin-top: 20px; 
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 4px solid purple;
    margin-left: 620px;
}

.summary{
    font-family: arial;
    font-size: 25px;
    text-align: center;
}

.h2Education{
    font-size: 2.5rem;
    align-iteam: center;
    justify-content: center;
    display: flex;
}

#education{
    height: 100vh;
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

.names{
    @media (min-width: 1024px) {
        display: flex;
        gap: 1.25rem;
        justify-content: space-between;
        align-items: center;
        background-color: black;
    }
}

.bio{
    font-size: 40px;
    color: purple;
    font-family: arial;
}

.self{
    font-size: 25px;
    font-family: arial;
}

.title{
    font-size: 50px;
    font-family: arial;
}

.name{
    color: purple;
    font-size: 30px;
    font-family: Arial;
}

header {
    background-color: black;
    color: purple;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 30;
    padding: 10px;
    
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: purple;
    display: flex;
    background-color: black;
    display: flex;
    grid-column: span 4;
    font-weight: bold; 
    font-size: 1.5rem; 
    font-family: Arial;
    margin-right: 1rem; 

    &:hover {
        color: white; 
    }

    @media (min-width: 1024px) {
        justify-content: space-between;
        align-items: center;
    }

    @media (min-width: 1280px) {
        gap: 20px;
        justify-content: flex-end;
    }

    @media (min-width: 1536px) {
        gap: 30px;
    }
}

main {
    padding: 20px;
}
